.background_head{
  padding: 10em;
  background-image: image-url('epreuve_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.epreuve{
    h1{
    font-family: $brandon-light, sans-serif;
    font-size: 4em;
    line-height: 2em;
    text-align: center;
    color: $gray-darker;
  }
}
