$btn-medium-color: $orange;

.btn-medium {
  color: white;
  background-color:$btn-medium-color;
  color: white !important;
  opacity:1;
  padding: 10px 20px;
  border-radius: 100px;
  font-weight: 100;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease, letter-spacing 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color:#ff3600;
    color: white;
    opacity: 1;
  }

  &:focus {
    color: $btn-medium-color;
    border-color: $btn-medium-color;
    outline: none;
    text-decoration: none;
  }

  &:visited {
    color: $btn-medium-color;
    border-color: $btn-medium-color;
  }
}


$btn-medium-grey-color: #D4D4D4;

.btn-medium-grey {
  color: $btn-medium-grey-color !important;
  border: 1px solid $btn-medium-grey-color;
  opacity:1;
  padding: 10px 20px;
  border-radius: 100px;
  font-weight: 100;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease, letter-spacing 0.3s ease;

  &:hover {
    text-decoration: none;
    border: 1px solid rgba(212,212,212,0.3);
  }

  &:focus {
    color: $btn-medium-grey-color;
    border-color: $btn-medium-grey-color;
    outline: none;
    text-decoration: none;
  }

  &:visited {
    color: $btn-medium-grey-color;
    border-color: $btn-medium-grey-color;
  }
}

