.epreuve{
    padding: 2em;
    h1{
    font-size: 3em;
    text-align: center;
    color: $gray-darker;
    padding-bottom:1em;
  }

}

.wrapper_images_cyclo{
  h2{
    text-align: center;
  }
  img{
    padding:0.5em;
  }
  p{
    text-align: center;
    font-size: 10px;
  }
}


.wrapper_images_cyclo_titre{
  padding: 3em;
}

