#banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.15) 30%), image-url('background.jpg');
  color: white;
  text-align: center;
  height:100vh !important;
  display:flex;
  background-size: cover;
  align-items:center;
  justify-content: center;

  h1 {
    font-size: 60px;
    color: white;
  }
  p {
    font-size: 25px;
    font-weight: 100;
  }
}

.baseline{
  text-align:center;
  background:$gray-lighter;
  padding:1em 2em 8em 2em;
}

#img-partenaires{
  position:relative;
  top:-5em;
  img{
    border-radius:10px;
  }
}

.card{
  padding: 10px;
  font-weight: 300;
  h2{
    font-size: 22px;
  }
}

#banner, #description, #newsletter {
  position: relative;
}

#newsletter h2 {
  margin-top: 1em;
  text-transform: upcase;
  font-size: 60px;
  font-family: $brandon-light;
}

.scroll-btn{
  position: absolute;
  width: 100px;
  margin-left: -50px;
  bottom: 20px;
  left: 50%;
  text-align: center;
  font-size: 60px;
  color: white;
  &:hover{
    color: white;
  }
}


.partenaires{
  padding-top: 1em;
  text-align:center;
  background: white !important;
    h1 {
   text-align:center;
   font-size: 40px;
   color: black;
   font-family: $brandon-light;
 }
}

.partenaires-images{
  display:flex;
  justify-content:space-around;
  padding:3em;
}

.style_image_partenaire{
 height: 100px;
}


.cyclo{
  padding:4em;

  h1 {
   text-align:center;
   padding-bottom: 1em;
   font-size: 40px;
   color: $gray-lighter;
 }
}


.product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  background-color: $gray-lighter;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
  color: $gray-dark;

}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 110px;
}


/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}

.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote { transform: scale(1.2) }
.product:hover .product-controls-hidden a { color: #E6E6E6}
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }

.wrapper-product{
  padding:2px;
}

.wrapper-product a{
  text-decoration:none;
}

.banner {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: #0F0F0F;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}
.banner h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
}

.banner_strava {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-image: image-url('background_strava.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}
.banner_strava  h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.banner_strava  p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
}

.athletes{
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding: 2em 2em 0em 2em ;
  background:white;
  color: black;
  p{
    color:$gray-light;
  }
}



.athlete-item{
  flex: 0 0 10px;
  img{
    width: 50vw;
  }
}









