  #lot-partenaire{
      padding: 1em 0;
      text-align: center;
  h2{
    font-size: 2em;
    line-height: 1em;
    color: $gray-darker;
  }


  .lot{
    background: white;
    margin-bottom: 2em;
    background:$gray-lighter;
    img{
      with: 100%;
    }
    h2{
      font-size: 15px;
    }
    p{
      font-size: 13px;
      font-weight: 300;
    }
    a{
      color: $btn-medium-color;
      border: $btn-medium-color 1px solid;
      border-radius: 3px;
      padding: 5px 10px 5px 10px;
      opacity:1;
    }
    a:hover{
      text-decoration: none;
      background-color:#ff3600;
      color: white;
      opacity: 1;
    }
  }
}
#ranking{
  border-top:1px solid #e5e5e5;
  padding: 1em 0 1em 0;
  h2{
    font-size:1.5em;
    color:$orange;
  }
  p{
    font-size: 1em;
    color:$orange;
  }
}
