
#partenaire{
  padding: 1em 0;
  h1{
    font-family: $brandon-light, sans-serif;
    font-size: 4em;
    line-height: 2em;
    text-align: center;
    color: $gray-darker;
  }
  .pen{
    background: white;
    border: 1px solid #e5e5e5;
    padding: 1.3em;
    margin-bottom: 2em;
    img{
      margin: 1.5em auto;
      max-height:100px;
    }
    h2{
      font-size: 1.3em;
    }
    p{
      font-size: 1.1em;
      font-weight: 300;
    }
    a{
      color: $btn-medium-color;
      border: $btn-medium-color 1px solid;
      border-radius: 3px;
      padding: 5px 10px 5px 10px;
      opacity:1;
    }
    a:hover{
      text-decoration: none;
      background-color:#ff3600;
      color: white;
      opacity: 1;
    }
  }
}

.box-partenaires{

  color:$gray-light;
  background-color:$gray-lighter;
  h3{
    font-size:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    border-bottom: $gray-light 1px solid;
  }

  li{
    list-style: none;
    text-align: left;
    p{
      font-size: 12px;
      display:inline-block;
    }
  }
}

.modal-contact{
  padding:10px;
  p{
    font-size:11px;
  }
}



