
<div class="col-md-6">
<div class="wrapper-product">
  <% link_to base.link_inside do %>
  <div class="product">
    <%= image_tag base.image_file, :class => 'product-image hidden-xs' %>
    <div class='product-body'>
      <h3><%= base.name %></h3>
      <p><%= base.content %></p>
    </div>
  </div>
  <% end %>
</div>
</div>
