<div class="col-xs-12 col-sm-6 col-md-3 text-center">
  <div class="pen">
    <div class="row">
      <div class="col-xs-3 col-sm-12">
        <%= image_tag pen.picture, class: "img-responsive" %>
      </div>
      <div class="col-xs-9 col-sm-12">
        <h2>
          <%= pen.name %>
        </h2>
        <p><%= pen.summary %></p>
        <br>
        <a target="_blank" href="<%= pen.url %>" class="btn-medium" style="background:transparent; color:#ff3600 !important;"> Aller sur le site </a>
      </div>
    </div>
  </div>
</div>


