
<div class="col-xs-12 col-sm-4">
  <div class="card-resultat " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= resultat.image %>');">
    <div class="card-resultat-category">Télécharger</div>
    <div class="card-resultat-description">
      <h2><%= resultat.name %></h2>
    </div>
    <a class="card-resultat-link" href="<%= resultat.fichier %>" ></a>
  </div>
  <br>
</div>


