---
title: Classement
---

<!-- <div class="background_head" style="background-image:url('images/epreuve_background.jpg');"></div>

<div class="classement_leaders">
  <h1>Les Leaders du Challenge</h1>
  <h2>Le classement s'effectue suivant la distance totale parcourue sur l'ensemble des épreuves</h2>
  <br>
  <% data.athletes.each do |athlete| %>
  <%= partial(:athlete, locals: {athlete: athlete}) %>
  <% end %>
</div> -->


<div class="background_head" style="background-image:url('images/epreuve_background.jpg');"></div>

<div id="reglement">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2><strong>Catégorie 18 / 29 ans</strong></h2>
        <p>Marcoux Rémi - 392km</p>
        <p>Cognet Stéphane - 297km</p>
        <p>Carlet Pierre - 291km</p>
        <p>Gorret Nicolas - 291km</p>
        <p>Herve Florian - 291km</p>
        <p>Vallet Thibaud - 290km</p>
        <p>Fertonani Adrien - 270km</p>
        <p>Robert Esteban - 270km</p>
        <p>Enjolras Yann - 265km</p>
        <p>Alejandro Adrien - 250km</p>
      </div>

      <div class="col-sm-4">
        <h2><strong>Catégorie 30 / 39 ans</strong></h2>
        <p>Destoop Brecht - 864km</p>
        <p>Pannecouke Wisley - 709km</p>
        <p>Roux-Fouillet Thomas - 418km</p>
        <p>Basset Romain - 405km</p>
        <p>Munier Benoit - 324km</p>
        <p>Dupont Gregory - 323km</p>
        <p>Thomas Tony - 311km</p>
        <p>Broussier Mathieu - 303km</p>
        <p>Meunier Laurent - 303km</p>
        <p>Wielfaert Kristof - 303km</p>
      </div>

      <div class="col-sm-4">
        <h2><strong>Catégorie 40 / 49 ans</strong></h2>
        <p>Lebas Sébastien  - 1006km</p>
        <p>Labussiere Jean Luc  - 850km</p>
        <p>Cortet Stéphane - 723km</p>
        <p>Dauphin Guy - 708km</p>
        <p>Garcia Da Silva Fernando - 574km</p>
        <p>Lecocq Cedric - 553km</p>
        <p>De Vecchi David - 541km</p>
        <p>Rey Fabrice - 405km</p>
        <p>Lespagnol Laurent - 392km</p>
        <p>Durand Jean-Christophe - 385km</p>
      </div>

      <div class="col-sm-4">
        <h2><strong>Catégorie 50 / 59 ans</strong></h2>
        <p>Gaudelet Eddie - 1006km</p>
        <p>Dupont Stéphane - 749km</p>
        <p>Bonneau Richard - 581km</p>
        <p>Renaudie Denis - 560km</p>
        <p>Boudot Patrice - 446km</p>
        <p>Riviere Lionel - 446km</p>
        <p>Andre Didier - 426km</p>
        <p>Herbin Laurent - 412km</p>
        <p>Fertonani René - 385km</p>
        <p>Vaudran richard - 385km</p>
      </div>

      <div class="col-sm-4">
        <h2><strong>Catégorie 60 ans et plus</strong></h2>
        <p>Simon Yves- 1006km</p>
        <p>Vidalie Michel - 871km</p>
        <p>Delayre Jean-Paul - 723km</p>
        <p>Fauveau Jean-Pierre - 588km</p>
        <p>Lassara Alain - 466km</p>
        <p>Collin Didier - 360km</p>
        <p>Decombe Christian - 360km</p>
        <p>Martin Christian - 328km</p>
        <p>Ferrucci Jean-Pierre - 322km</p>
        <p>Cornu Maurice - 310km</p>
      </div>

      <div class="col-sm-4">
        <h2><strong>Catégorie 18 / 39 ans Femme</strong></h2>
        <p>Cochet Camille - 277km</p>
        <p>Le Coquet Leila - 260km</p>
        <p>Lollierou Elodie - 250km</p>
        <p>Ricord Pauline - 250km</p>
        <p>Barthe-Franquin Isabelle - 219km</p>
        <p>Lessueur Mélodie - 168 km</p>
        <p>Coste Justine - 156km</p>
        <p>Zambon Fanny - 155km</p>
        <p>Ceyssat Loriane - 155km</p>
        <p>Hild Amélie - 155km</p>
      </div>
      <div class="col-sm-4">
        <h2><strong>Catégorie 40 / 99 ans Femme</strong></h2>
        <p>Boudot Nathalie - 360km</p>
        <p>Bredard Christelle - 290km</p>
        <p>Duru Clothilde - 250km</p>
        <p>Chantelauze Corinne - 225km</p>
        <p>Moris-Metelier Marielle - 225km</p>
        <p>Romeuf Corinne - 225km</p>
        <p>Dominique Pelletier - 207km</p>
        <p>Mellema Carla - 168km</p>
        <p>Lamblin Isabelle - 156km</p>
        <p>Buffet Cathy - 156km</p>
      </div>
      <div class="col-sm-4">
        <h2><strong>Catégorie  Handisport</strong></h2>
        <p>Gaillard Christophe - 553km</p>
        <p>Kebli / Abdennour - 135km</p>
        <p>Morier Jean François / Codjo Candide - 135km</p>
        <p>Lesueur Stéphane/ Patinier Baudouin - 135km</p>
        <p>Gilles Pays - 115km</p>
        <p>Adan Olivier - 110km</p>
        <p>Dedianne - 104km</p>
        <p>Michel Borel - 103km</p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</div>


<div class="classement_epreuves">
  <h1>Classement par épreuve</h1>
  <div class="container" style="padding-top: 1em;">
    <div class="row">
      <% data.resultats.each do |resultat| %>
      <%= partial(:resultat, locals: {resultat: resultat}) %>
      <% end %>
    </div>
  </div>
</div>

</div>

