---
title: La pierre chany
---

<div class="background_head" style="background-image:url('images/epreuve_background.jpg');"></div>

<div class="epreuve">

  <div class="container">
    <div class="row">
      <h1>La Pierre Chany</h1>
      <div class="col-xs-6">
        <div class="carte">
          <div id="map" style="width: 100%; height: 500px;"></div>
          <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYoBt2ZxvwQev49mJkq7GbSBYXFsiocU4&callback=initMap"></script>
          <script type="text/javascript">
            var myLatlng = new google.maps.LatLng(45.1, 3.4833);

            var myOptions = {
              zoom: 6,
              center: myLatlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              styles: [{"featureType":"water","stylers":[{"color":"#19a0d8"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"},{"weight":6}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#e85113"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#efe9e4"},{"lightness":-40}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#efe9e4"},{"lightness":-20}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"lightness":100}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"lightness":-100}]},{"featureType":"road.highway","elementType":"labels.icon"},{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"landscape","stylers":[{"lightness":20},{"color":"#efe9e4"}]},{"featureType":"landscape.man_made","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"lightness":100}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"lightness":-100}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"hue":"#11ff00"}]},{"featureType":"poi","elementType":"labels.text.stroke","stylers":[{"lightness":100}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"hue":"#4cff00"},{"saturation":58}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#f0e4d3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#efe9e4"},{"lightness":-25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#efe9e4"},{"lightness":-10}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"simplified"}]}]
            };

            var map = new google.maps.Map(document.getElementById('map'), myOptions);
            var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: "La Pierre Chany"
            });
          </script>
        </div>
      </div>
      <div class="col-xs-6">
        <h2>Description</h2>
        <p>4 circuits sont proposés dans la vallée de l'Allier, le Gévaudan et la Margeride. Premier parcour : 142km Second : 110km Troisième : 70km Quatrième : 50km sur lequel les vélos à assitance éléctrique seront autorisés. <br> A noter que la Pierre Chany sera partenaire de la AFM-Téléthon à qui sera reversé une partie des engagements . <br>  Les 142 et 110km emprunteront une partie du circuit de la 15ème étape du Tour de France dont l'arrivée est situé au Puy en Velay. Et ils vous emmeneront sur les traces de la Bête du Gévaudan et près du Mont Mouchet, haut lieu de la Résistance française. <br> Repas chauds servis à l'arrivée. Cadeaux de bienvenue à tous les participants. Tombola gratuite richement doté.</p>
        <h2>Informations</h2>
        <p> Grande Boucle : <strong>142km</strong></p>
        <p> Dénivelé : <span class="label label-danger">2262m</span></p>
        <p> Petite Boucle : <strong>110km</strong></p>
        <p> Dénivelé : <span class="label label-success">1753m</span></p>
        <p>Date : <strong>05/08/2017</strong></p>
        <p>Prix à partir de :<span class="label label-warning">34€</span></p>
        <p><br><a target="_blank" href="http://www.lapierrechany-43.fr/" class="btn-medium">inscription</a></p>
      </div>
    </div>
  </div>

</div>


<!-- <div class="wrapper_images_cyclo">
  <div class="wrapper_images_cyclo_titre"">
    <h2>Photos de l'édition précédente </h2>
    <p>Crédit photos : David Frobert</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3"><img src="photos_cyclo/lescopains1.png" alt="" class="img-responsive"></div>
      <div class="col-xs-6 col-sm-4 col-md-3"><img src="photos_cyclo/lescopains2.png" alt="" class="img-responsive"></div>
      <div class="col-xs-6 col-sm-4 col-md-3"><img src="photos_cyclo/lescopains3.png" alt="" class="img-responsive"></div>
      <div class="col-xs-6 col-sm-4 col-md-3"><img src="photos_cyclo/lescopains4.png" alt="" class="img-responsive"></div>
      <div class="col-xs-6 col-sm-4 col-md-3"><img src="photos_cyclo/lescopains5.png" alt="" class="img-responsive"></div>
      <div class="col-xs-6 col-sm-4 col-md-3"><img src="photos_cyclo/lescopains6.png" alt="" class="img-responsive"></div>
      <div class="col-xs-6 col-sm-4 col-md-3"><img src="photos_cyclo/lescopains7.png" alt="" class="img-responsive"></div>
      <div class="col-xs-6 col-sm-4 col-md-3"><img src="photos_cyclo/lescopains8.png" alt="" class="img-responsive"></div>
    </div>
  </div>
</div>
 -->





