<div class="background_head" style="background-image:url('images/background-lots.jpg');"></div>

<div class="container" id="lot-partenaire">
<h2>Les lots</h2>
<br>
  <div class="row">
    <% data.lots.each do |lot| %>
    <%= partial(:lot, locals: {lot: lot}) %>
    <% end %>
  </div>
</div>







