<div class="background_head" style="background-image:url('images/header_partenaires.jpg');"></div>

<div class="container" id="lot-partenaire">
<h2>Ils soutiennent le challenge</h2>
<p>Vous voulez devenir partenaire ? Contactez nous</p>
<br>
  <div class="row">
    <% data.lots.each do |lot| %>
    <%= partial(:lot, locals: {lot: lot}) %>
    <% end %>
  </div>
</div>







