
<div class="background_head"></div>

<div class="container" id="partenaire">
  <div class="row">
    <% data.pens.each do |pen| %>
    <%= partial(:pen, locals: {pen: pen}) %>
    <% end %>
  </div>
</div>
