---
title: Réglement
---

<div class="background_head" style="background-image:url('images/epreuve_background.jpg');"></div>

<div id="reglement">
  <h1>REGLEMENT DU CHALLENGE ASSURANCES VELO 2017</h1>

  <h2>1°) LES ETAPES DU CHALLENGE 2017</h2>

  <p>
    Le <strong>CHALLENGE ASSURANCES VELO 2017</strong> portera sur 9 épreuves cyclosportives nationales<br><br>
    1 ère  ETAPE : <strong>LA JACQUES GOUIN</strong> le 5 mars<br>
    2 ème ETAPE : <strong>LA MORVANDELLE </strong>le 1er avril<br>
    3 ème ETAPE : <strong>LA VELOSTAR </strong>le 1er mai<br>
    4 ème ETAPE : <strong>LA CYCLO DES BOUCLES DE LA MARNE</strong> le 28 mai<br>
    5 ème ETAPE : <strong>LA CLAUDIO CHIAPPUCCI</strong> le 3 juin<br>
    6 ème ETAPE : <strong>LES COPAINS CYFAC </strong>les 30 juin et 1 et 2 juillet<br>
    7 ème ETAPE : <strong>LA PIERRE CHANY</strong> le 5 aout<br>
    8 ème ETAPE : <strong>LA JEAN FRANCOIS BERNARD</strong>le 20 aout<br>
    9 ème ETAPE : <strong>LES MONTS DE L AUXOIS</strong> le 10 septembre<br>
  </p>

  <h2>2°) LES CONDITIONS DE PARTICIPATION AU CLASSEMENT DU CHALLENGE </h2>

  <p>
   Ce Trophée est ouvert à toutes et tous, majeur(e)s, licencié(e)s possédant une licence délivrée par une fédération
   autorisant la pratique du cyclisme de compétition (FFC, UFOLEP, FSGT, FFTri, FF Handisport, FFCT),
   Sont exclus du classement du CHALLENGE ASSURANCES VELO les 1ères et 2ème catégories FFC ainsi que les
   cyclosportifs qui délivreront le jour de l’épreuve un simple certificat médical.
  </p>

  <h2>3°) ENGAGEMENTS</h2>

  <p>
    Aucun frais n’est demandé aux cyclosportifs pour participer au CHALLENGE ASSURANCES VELO.
  </p>

  <h2>4°) CATEGORIES</h2>

  <p>
    L'âge de chacun est déterminé par rapport à l'année de naissance. Les Catégories se présentent comme suit :<br><br>
    <strong>FEMMES<br><br></strong>
    18 ans / 39 ans<br>
    40 ans / 49 ans<br>
    50 ans et plus<br><br>
    <strong>HOMMES<br><br></strong>
    18 ans / 29 ans<br>
    30 ans / 39 ans<br>
    40 ans / 49 ans<br>
    50 ans / 59 ans<br>
    60 ans et plus<br>
    HANDISPORT<br><br>
    18 ans et plus<br>
  </p>

  <h2>5°) CLASSEMENTS</h2>

  <p>
    Le classement par catégorie d’âge se fera en fonction du cumul de kilomètres parcourus après chaque
  épreuve et pour départager les exaequo, le calcul se fera sur le cumul des places
  Exemple :<br>
  - M. GHISLAIN a fait les 2 premières épreuves (grand et petit parcours) et a terminé 1er sur les 2 épreuves
  dans sa catégorie soit 115 + 80 = 195 points<br>
  - M. LAMBERT a fait les 2 premières épreuves (2 fois les grands parcours) et a terminé 3ème et 10 ème de
  sa catégorie soit 115 + 150 = 265 pts<br>
  Donc M. LAMBERT est 1er du CHALLENGE dans sa catégorie d’âge<br>
  </p>

  <h2>6°) MINIMA de participation pour gagner le CHALLENGE </h2>

  <p>4 épreuves</p>

  <h2>7°) LES RECOMPENSES </h2>

  <p>
  - Un maillot de Leader par catégorie d’âge envoyé par voie postale après chaque épreuve<br>
  - Un challenge STAVA sera organisé sur chaque épreuve et chauqe vainqueur du challenge STAVA
  recevra un cadeau surprise<br>
  - Une récompense pour les 5 premiers de chaque catégorie (tirage au sort entre les 5 premiers de
  chaque catégorie<br>
  </p>

  <h2>8°) GESTION DU TROPHEE</h2>

  <p>Toute réclamation, toute question sera envoyée par mail à contact@assurancesvelo.com</p>
</div>
